
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-top: 0;
}

#about {
    background-image: linear-gradient(to bottom, #333, #555);
    color: #fff;
    padding: 50px;
    text-align: center;
}

#skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#skills li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
}

#contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact li {
    margin-bottom: 10px;
}

#contact a {
    text-decoration: none;
    color: #337ab7;
}



